<!doctype html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1280px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

    </style>
  </head>

<body>

{% include 'topbar.html' %}
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">21 Dakika</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="static/js/homepage/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="/">Anasayfa</a></li>
          {% if user.isVip() %}
          <li><a class="nav-link scrollto active" href="#main">Ders İzle</a></li>
          <li><a class="nav-link" href="/calendar">Ders Programı</a></li>
          {% else %}
          <li><a class="nav-link" href="/subscriptions">Abonelikler</a></li>
          {% endif %}
          <li><a class="getstarted" href="/logout">Çıkış yap</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <main id="main">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">21dakika.com Abonelik Paketleri</h1>
      <p class="lead">Size en uygun paketi seçerek vip üye olmanın avantajlarından faydalanmaya başlayabilirsiniz.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        {%for subscription in subscriptions%}
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{subscription.name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{subscription.pricePerMonth}}₺ <small class="text-muted">/ Ay</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{subscription.durationMonth}} Ay Erişim</li>
              <li>Eski eğitim videolarına erişim</li>
              <li>Tüm Canlı Derslere Sınırsız Erişim</li>
              <li>VIP Üye Desteği</li>
            </ul>
            <a href="initializeCheckout?id={{subscription._id}}" class="btn btn-lg btn-block btn-outline-primary">Seç</a>
          </div>
        </div>
      {%endfor%}
      </div>
    </div>
  </main>
  </body>
</html>
